[x-cloak] {
    display: none !important;
}

button:focus {
    outline: none;
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none !important;
}

.btn-success.focus,
.btn-success:focus {
    box-shadow: none;
}

.AddModalBtn {
    position: fixed;
    border-radius: 50%;
    right: 40px;
    bottom: 40px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.m-pointer {
    cursor: pointer;
}

.dark-from {
    border: 1px solid #dee2e6 !important;
}

#profile_img .profile-pic {
    /* border-radius: 50%; */
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    vertical-align: middle;
    text-align: center;
    color: transparent;
    transition: all .3s ease;
    text-decoration: none;
    /* cursor: pointer; */
    overflow: hidden;
}

#profile_img .profile-pic {
    z-index: 10;
    color: black;
    transition: all .3s ease;
    text-decoration: none;
}

#profile_img .profile-pic label {
    display: flex;
    position: absolute;
    top: 5px;
    right: 6px;
    font-size: 20px;
    background: #4343437a;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

#fileToUpload {
    display: none;
    cursor: pointer;
}

#profile_img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border-bottom: 1px solid lightgray;
}

/* Dark mode custom css */
.dark-mode .form-control,
.dark-mode .dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dark-mode .dataTables_filter,
.dark-mode .input-group-append>.btn,
.dark-mode .dataTables_wrapper .dataTables_paginate .input-group-append>.paginate_button,
.dataTables_wrapper .dataTables_paginate .dark-mode .input-group-append>.paginate_button,
.dark-mode .custom-select {
    border-color: #3d4559 !important;
    color: #a4a4a4 !important;
}

.dark-mode .form-control::placeholder,
.dark-mode .dataTables_wrapper .dataTables_filter::placeholder,
.dataTables_wrapper .dark-mode .dataTables_filter::placeholder,
.dark-mode .input-group-append>.btn::placeholder,
.dark-mode .dataTables_wrapper .dataTables_paginate .input-group-append>.paginate_button::placeholder,
.dataTables_wrapper .dataTables_paginate .dark-mode .input-group-append>.paginate_button::placeholder,
.dark-mode .custom-select {
    color: #7f7d7d !important;
}

.dark-mode .form-control,
.dark-mode .dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dark-mode .dataTables_filter,
.dark-mode .input-group-append>.btn,
.dark-mode .dataTables_wrapper .dataTables_paginate .input-group-append>.paginate_button,
.dataTables_wrapper .dataTables_paginate .dark-mode .input-group-append>.paginate_button,
.dark-mode .custom-select {
    border-color: #3d4559 !important;
    color: #a4a4a4 !important;
    background: #2a3244;
}

select.form-control.dark-from.show-tick {
    background: #2f3647;
}

.form-control,
.dataTables_wrapper .dataTables_filter {
    border-color: #d7d7d7;
}

.dark-mode .custom-file-label::after {
    line-height: 1.5;
    color: #767a7e;
    background-color: #353d4f;
}

.dark-mode .custom-control-label::before,
.dark-mode .custom-file-label,
.dark-mode .custom-select {
    background: #2a3244;
    border: 1px solid #3d4559;
}

.dark-mode .bootstrap-tagsinput {
    color: white !important;
    background: #2a3244 !important;
    border: 1px solid #3d4559 !important;
    padding: 7px !important;
}

.modal-header .close span {
    text-shadow: none;
    font-size: 28px;
    color: red;
}